/*--------------------------------------------Colours*/
// Setting templates for colour schemes, width's and fonts for the 
// website in a easy location to update several elements at once.
$bgText-color: #4c4c4c;
$bodyBackgroundColor: white;
$background-color: #4d98df;
$foreground-color: white;
$tbWidth: 100%;
$border-color: black;
$font-color: white;
$font-family: "Roboto",
sans-serif;


/*--------------------------------------------Heading*/

.mainLogo {
    height: 160px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 9px black;
}

.mainLogo--center {
    margin: auto;
}

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

// Sets the header background image.
.header-color {
    background-image: linear-gradient(rgba(44, 52, 80, 0.5), rgba(44, 62, 80, 0.5)), url("/assets/images/bannerCloud.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

// Sets the font colour to white.
.input-header,
.poiNearby-header,
.poiText-p,
.satNav-header {
    color: $font-color;
}

.input-header {
    padding-bottom: 10px;
}

.name {
    font-family: $font-family;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    font-family: $font-family;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

/*-------------------------------------Body*/

body {
    background-color: $bodyBackgroundColor;
}

// Adds a fine, transparent layer over the background colour.
.transparent-background {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-colour {
    background-color: $bgText-color;
}

.borderTop-color {
    border-top: solid $background-color 2px;
}

.borderBottom-color {
    border-bottom: solid $background-color 2px;
}

// This is used for majority of the containers for nice spacing.
.section-padding {
    padding: 10px 5%;
}

// Primary button colour.
.btn-color {
    background-color: $background-color;
    color: $font-color;
}

.btn-colorSecondary {
    background-color: grey;
    color: $font-color;
}

.btn-satNav,
.btn-resetNav,
.isContainer--width {
    width: 100%;
}

// Sets the listed containers to be hidden when page is first loaded.
#isContainer-sH,
#isContainer-sPOI {
    display: none;
}

.results-table {
    color: $font-color;
}

.resetButton {
    padding-top: 1rem;
}

// Sets the width for Hotel and POI labels.
.input-group-text {
    min-width: 65px;
}

#map {
    min-height: 640px;
    box-shadow: 0px 2px 15px black;
}

#locationSearch {
    height: 50px;
    font-size: 18pt;
}

// This is a format for the results table used with the found
// location via searchNearby() function. Also hides the scoll bar. 
#mapResultsFull {
    width: 100%;
    border-collapse: collapse;
    height: 800px;
    overflow: auto;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
    box-shadow: inset 0px 0px 9px rgba(0,0,0,0.9);
    border: solid grey 2px;
    border-radius: 10px;
    scrollbar-width: none;
}

//Hides the scroll bar for webkit browsers.
#mapResultsFull::-webkit-scrollbar {
        width: 0 !important;
    }
    
// This is the format for the navigation results used with the 
// written directions from the Navigation function.
#navResults {
    width: 100%;
    border-collapse: collapse;
    height: 800px;
    overflow: auto;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

// This is placed within the #mapResultsFull container giving each found result
// /location it's own box, with the name, address and image being nicely displayed. 
.resultscontainer {
    display: inline-grid;
    border: solid $background-color 1px;
    border-bottom: solid $background-color 4px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: $bodyBackgroundColor;
    box-shadow: 0px 0px 4px black;
    
    .td-name {
        font-size: xx-large;
        text-align: center;
    }

    .td-address {
        text-align: center;
    }

    .td-phone {
        text-align: center;
        margin-bottom: 10px;
    }

    .td-img {
        max-height: 170px;
        margin-left: auto;
        margin-right: auto;
    }

    .img {
        width: 200px;
        height: 170px;
        border-radius: 20px;
        margin: 5px;
        border: solid $bgText-color 2px;
    }
}

// When the user clicks on a marker, information is displayed. When the screen
// size is set to a phone display the information is too wide, this breaks the 
// words down so it's readable.
#infoMapWindow {
    hyphens: auto;
}

.mapResults-Container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.interestSelectedInfo {
    width: $tbWidth;
}

.interestSelected-Container {
    padding-top: 10px;

    .selectedHotelTB {
        width: $tbWidth;
    }

    .selectedPOItb {
        width: $tbWidth;
    }
}

.poiText-Container {
    padding-top: 10px;
}

.satNav-Container {
    padding-top: 10px;

    .btn-satNav {
        width: $tbWidth;
    }

    .btn-resetNav {
        width: $tbWidth;
    }
}

/*-------------------------------------Other*/

// Used for formatting the text results for the navigation box.
.adp {
    background-color: white;
    border: solid $background-color 2px;
    border-radius: 12px;
    padding: 10px;
}

.adp table {
    width: 100%;    
}

.nav-border {
    border-bottom: solid 2px $border-color;
}

.map-border {
    border: solid 2px $border-color;
}

// This sets the icon size for the map.
.placeIcon {
    width: 34px;
    height: 34px;
    margin: 4px;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

/*-------------------------------------@media*/
// Changes the format for the search results from the found locations
// when the screen size is bigger than 1150px.
@media only screen and (min-width: 1150px) {

.resultscontainer {
    display: flow-root;
    border: solid $background-color 1px;
    border-bottom: solid $background-color 4px;
    background-color: $bodyBackgroundColor;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
    overflow: hidden;
    table-layout: fixed;

    .td-name {
        font-size: xx-large;
        text-align: center;
        min-width: 24rem;
        max-width: 24rem;
        bottom: 49px;
        position: relative;
    }

    .td-address {
        text-align: center;
        width: 660px;
        min-width: 180px;
        border-left: solid gray 2px;
        border-right: solid gray 2px;
        color: white;
        background-color: #1f5177;
    }

    .td-phone {
        text-align: center;
        min-width: 130px;
        width: 595px;
    }

    .td-img {
        max-width: 10%;
        max-height: 170px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        background-color: #1f5177;
        border-right: solid gray 2px;
    }

    .img {
        position: relative;
        width: 200px;
        height: 170px;
        border-radius: 20px;
        margin: 5px;
    }
}
}