/*--------------------------------------------Colours*/

$bodyBackgroundColour: #E6E6FA;
$background-color: orange;
$foreground-color: white;
$tbWidth: 100%;
$border-color: black;
$font-color: white;
$font-family: "Roboto",
sans-serif;


/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.header-color {
    background-color: $background-color;
}


.name {
    font-family: $font-family;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    font-family: $font-family;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

#nav {
    margin: 0;

    li {
        padding: 0;
    }
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;

    a {
        width: 100%;
        text-decoration: none;
        /*color: #ffffff;*/
        height: 120px;
    }


    i {
        padding-top: 22px;
        display: block;
        color: #fafafa;
        font-size: 26px;
    }

    span {
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
    }
}

/*-------------------------------------Body*/

body {background-color: $bodyBackgroundColour;}

.section-padding {
    padding: 10px 20px 10px 20px;
}

.btn-color {
    background-color: $background-color;
    color: $font-color;
}

.btn-satNav {
    width: 100%;
}

.poiShow-Container, .mapResults-Container, .interestSelected-Container, .satNav-Container {
    display: none;
}

#isContainer-sH, #isContainer-sPOI {
    display: none;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
}

#mapResults {
    width: 100%;
    height: 440px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

.interestSelected-Container {
    padding-top: 10px;
    
    .selectedHotelTB {
        width: $tbWidth;
    }
    
    .selectedPOItb {
        width: $tbWidth;
    }
}

/*-------------------------------------Other*/

.nav-border {
    border-bottom: solid 2px $border-color;
}

.map-border {
    border: solid 2px $border-color;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}


.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}


/*-------------------------------------MAP*/

#map {
    min-height: 440px;
}
