/*--------------------------------------------Colours*/
/*--------------------------------------------Heading*/
.mainLogo {
  height: 160px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 9px black; }

.mainLogo--center {
  margin: auto; }

header {
  margin: 0; }

.heading {
  margin-left: 50px; }

.header-color {
  background-image: linear-gradient(rgba(44, 52, 80, 0.5), rgba(44, 62, 80, 0.5)), url("/assets/images/bannerCloud.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.input-header,
.poiNearby-header,
.poiText-p,
.satNav-header {
  color: white; }

.input-header {
  padding-bottom: 10px; }

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: #ffffff; }

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center; }

/*-------------------------------------Body*/
body {
  background-color: white; }

.transparent-background {
  background-color: rgba(0, 0, 0, 0.1); }

.bg-colour {
  background-color: #4c4c4c; }

.borderTop-color {
  border-top: solid #4d98df 2px; }

.borderBottom-color {
  border-bottom: solid #4d98df 2px; }

.section-padding {
  padding: 10px 5%; }

.btn-color {
  background-color: #4d98df;
  color: white; }

.btn-colorSecondary {
  background-color: grey;
  color: white; }

.btn-satNav,
.btn-resetNav,
.isContainer--width {
  width: 100%; }

#isContainer-sH,
#isContainer-sPOI {
  display: none; }

.results-table {
  color: white; }

.resetButton {
  padding-top: 1rem; }

#map {
  min-height: 640px;
  box-shadow: 0px 2px 15px black; }

#locationSearch {
  height: 50px;
  font-size: 18pt; }

#mapResultsFull {
  width: 100%;
  border-collapse: collapse;
  height: 800px;
  overflow: auto;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden; }

#navResults {
  width: 100%;
  border-collapse: collapse;
  height: 800px;
  overflow: auto;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden; }

.resultscontainer {
  display: inline-grid;
  border: solid #4d98df 1px;
  border-bottom: solid #4d98df 4px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 0px 4px black; }
  .resultscontainer .td-name {
    font-size: xx-large;
    text-align: center; }
  .resultscontainer .td-address {
    text-align: center; }
  .resultscontainer .td-phone {
    text-align: center;
    margin-bottom: 10px; }
  .resultscontainer .td-img {
    max-height: 170px;
    margin-left: auto;
    margin-right: auto; }
  .resultscontainer .img {
    width: 200px;
    height: 170px;
    border-radius: 20px;
    margin: 5px;
    border: solid #4c4c4c 2px; }

#infoMapWindow {
  hyphens: auto; }

.mapResults-Container {
  margin-top: 20px;
  margin-bottom: 20px; }

.interestSelectedInfo {
  width: 100%; }

.interestSelected-Container {
  padding-top: 10px; }
  .interestSelected-Container .selectedHotelTB {
    width: 100%; }
  .interestSelected-Container .selectedPOItb {
    width: 100%; }

.poiText-Container {
  padding-top: 10px; }

.satNav-Container {
  padding-top: 10px; }
  .satNav-Container .btn-satNav {
    width: 100%; }
  .satNav-Container .btn-resetNav {
    width: 100%; }

/*-------------------------------------Other*/
.adp {
  background-color: white;
  border: solid #4d98df 2px;
  border-radius: 12px;
  padding: 10px; }

.adp table {
  width: 100%; }

.nav-border {
  border-bottom: solid 2px black; }

.map-border {
  border: solid 2px black; }

.placeIcon {
  width: 34px;
  height: 34px;
  margin: 4px; }

.iw_table_row {
  height: 18px; }

.iw_attribute_name {
  font-weight: bold;
  text-align: right; }

.iw_table_icon {
  text-align: right; }

/*-------------------------------------@media*/
@media only screen and (min-width: 1150px) {
  .resultscontainer {
    display: flow-root;
    border: solid #4d98df 1px;
    border-bottom: solid #4d98df 4px;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    table-layout: fixed; }
    .resultscontainer .td-name {
      font-size: xx-large;
      text-align: center;
      min-width: 24rem;
      max-width: 24rem;
      bottom: 49px;
      position: relative; }
    .resultscontainer .td-address {
      text-align: center;
      width: 660px;
      min-width: 180px;
      border-left: solid gray 2px;
      border-right: solid gray 2px;
      color: white;
      background-color: #1f5177; }
    .resultscontainer .td-phone {
      text-align: center;
      min-width: 130px;
      width: 595px; }
    .resultscontainer .td-img {
      max-width: 10%;
      max-height: 170px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      background-color: #1f5177;
      border-right: solid gray 2px; }
    .resultscontainer .img {
      position: relative;
      width: 200px;
      height: 170px;
      border-radius: 20px;
      margin: 5px; } }

/*# sourceMappingURL=style.css.map */
