/*--------------------------------------------Colours*/

$bgText-color: #4c4c4c;
$bodyBackgroundColour: white;
$background-color: #4d98df;
$foreground-color: white;
$tbWidth: 100%;
$border-color: black;
$font-color: white;
$font-family: "Roboto",
sans-serif;


/*--------------------------------------------Heading*/

.mainLogo {
    height: 160px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 9px black;
}

.mainLogo--center {
    margin: auto;
}

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.header-color {
    background-image: linear-gradient(rgba(44,52,80,0.5), rgba(44,62,80,0.5)), url("/assets/images/bannerCloud.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.input-header, .poiNearby-header, .poiText-p, .satNav-header {
    color: $font-color;
}

.input-header {
    padding-bottom: 10px;
}

.name {
    font-family: $font-family;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    font-family: $font-family;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

/*-------------------------------------Body*/

body {background-color: $bodyBackgroundColour;}

.transparent-background {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-colour {
    background-color: $bgText-color;
}

.borderTop-color {
    border-top: solid $background-color 2px;
}

.borderBottom-color {
    border-bottom: solid $background-color 2px;
}

.section-padding {
    padding: 10px 5%;
}

.btn-color {
    background-color: $background-color;
    color: $font-color;
}

.btn-colorSecondary {
    background-color: grey;
    color: $font-color;
}

.btn-satNav, .btn-resetNav, .isContainer--width {
    width: 100%;
}

/* .poiShow-Container, .poiText-Container, .mapResults-Container, .interestSelectedInfo, .satNav-Container {
    display: none;
} */

/*#MAP {
    visibility: hidden;
} */

#isContainer-sH, #isContainer-sPOI {
    display: none;
}

.results-table {
    color: $font-color;
}

.resetButton {
    padding-top: 1rem;
}

/* #resultsTable {
    border-collapse: collapse;
    width: 100%;
} */

#mapResultsFull {
    width: 100%;
    border-collapse: collapse;
    height: 800px;
    overflow: auto;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

.resultscontainer {
    display: flow-root;
    border: solid $background-color 1px;
    border-bottom: solid $background-color 4px;
    background-color: $bodyBackgroundColour;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    
    .td-name {
        font-size: xx-large;
        text-align: center;
        min-width: 24rem;
        bottom: 49px;
        position: relative;
    }
    
    .td-address {
        text-align: center;
        min-width: 40%;
        border-left: solid gray 2px;
        border-right: solid gray 2px;
        color: white;
        background-color: #1f5177;
    }
    
    .td-phone {
        text-align: center;
        min-width: 40%;
    }
    
    .td-img {
        max-width: 10%;
        max-height: 170px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        background-color: #1f5177;
        border-right: solid gray 2px;
        }
    
   .img {
    position: relative;
    width: 200px;
    height: 170px;
    border-radius: 20px;
    margin: 5px;
    }
}    


/* #mapResults {
    width: 100%;
    height: 440px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
} */

.mapResults-Container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.interestSelectedInfo {
    width: $tbWidth;
}

.interestSelected-Container {
    padding-top: 10px;
    
    .selectedHotelTB {
        width: $tbWidth;
    }
    
    .selectedPOItb {
        width: $tbWidth;
    }
}

.poiText-Container {
    padding-top: 10px;
}

.satNav-Container {
    padding-top: 10px;
    
    .btn-satNav {
        width: $tbWidth;
    }
    
    .btn-resetNav {
        width: $tbWidth;
    }
}

/*-------------------------------------Other*/

.nav-border {
    border-bottom: solid 2px $border-color;
}

.map-border {
    border: solid 2px $border-color;
}

.placeIcon {
    width: 34px;
    height: 34px;
    margin: 4px;
}


.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}


/*-------------------------------------MAP*/

#mapResults {
    box-shadow: 0px 0px 15px black;
    border: solid black 2px;
}

#map {
    min-height: 640px;
    box-shadow: 0px 2px 15px black;
}
